* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* navbar*/
.navbar {
  background: black;
}

.nav {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
}

.nav a {
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

/**/
